<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted"><b>Graduate student of Computer System Engineering with specialization in Internet Of Things at Northeastern University.
                        <!-- <br>Looking for Full-time Job roles such Software Developer, IoT Software Engineer starting Jan 2020. </b></h3> -->
                    </b></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software Engineering</h4>
                    <p>Java, JavaScript, Python, C++, Agile SCRUM, JIRA, Git, Maven, Jenkins, Confluence</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IoT &amp; Cloud Computing</h4>
                    <p>MQTT, CoAP, EC2, IAM, S3, SNS, SES, Dynamo DB, Travis CI, CodeDeploy ELB, Lambda, CloudWatch, AWS, HTTP, DNS, Ubidots, TCP/IP, UDP</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Technologies</h4>
                    <p class="text-muted">Lor<p>HTML, CSS, BootStrap, AJAX, ReactJS, jQuery, JSON, RESTful, Spring MVC, Spring Boot, Node.js, MEAN, Angular, OAuth 2.0, JWT, WebSockets, MySQL, MongoDB, Postgres</p>em ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>